<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiawa.read" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".activity.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.WebActivity" >
        </activity>
        <activity android:name=".activity.LoginActivity" >
        </activity>
        <activity android:name=".activity.SignUpActivity" >
        </activity>
        <activity android:name=".activity.ForgetPasswordActivity" >
        </activity>

        <!-- 个人主页 -->
        <activity android:name=".activity.UserHomeActivity" >
        </activity>
        <!-- 注册成功跳转页 -->
        <activity android:name=".activity.RegSuccessActivity" >
        </activity>
        <!-- 个人信息 -->
        <activity android:name="com.xiawa.read.activity.UserInfoActivity" >
        </activity>
        <!-- 留言板 -->
        <activity android:name="com.xiawa.read.activity.FeedbackActivity" >
        </activity>
        <!-- 漂读榜 -->
        <activity android:name="com.xiawa.read.activity.BookRankActivity" >
        </activity>
        <!-- 图书详情 -->
        <activity android:name="com.xiawa.read.activity.BookDetailActivity" >
        </activity>
        <!-- 图书简介 -->
        <activity android:name="com.xiawa.read.activity.BookIntroductActivity" >
        </activity>
        <!-- 观后感 -->
        <activity android:name="com.xiawa.read.activity.BookCommentActivity" >
        </activity>
        <!-- 认证页面 -->
        <activity android:name="com.xiawa.read.activity.AuthenActivity" >
        </activity>
        <!-- 借书地址 -->
        <activity android:name="com.xiawa.read.activity.AddressActivity" >
        </activity>
        <!-- 热门图书 -->
        <activity android:name="com.xiawa.read.activity.BookArrangeActivity" >
        </activity>
        <!-- 页面支付 -->
        <activity android:name="com.xiawa.read.activity.PayActivity" >
        </activity>
        <!-- 消息中心 -->
        <activity android:name="com.xiawa.read.activity.MessageActivity" >
        </activity>
        <!-- 搜索 -->
        <activity android:name="com.xiawa.read.activity.SearchActivity" >
        </activity>
        <!-- 分类 -->
        <activity android:name="com.xiawa.read.activity.ClassifyActivity" >
        </activity>
        <!-- 订单管理 -->
        <activity android:name="com.xiawa.read.activity.OrderActivity" >
        </activity>
        <!-- 提交订单 -->
        <activity android:name="com.xiawa.read.activity.SubmitOrderActivity" >
        </activity>
        <!-- 收藏室 -->
        <activity android:name="com.xiawa.read.activity.CollectionActivity" >
        </activity>
        <!-- 关于 -->
        <activity android:name="com.xiawa.read.activity.AboutUsActivity" >
        </activity>
        <!-- 服务站登录 -->
        <activity android:name="com.xiawa.read.activity.AdminLoginActivity" >
        </activity>
        <!-- 服务站借书 -->
        <activity android:name="com.xiawa.read.activity.BorrowBookActivity" >
        </activity>
        <!-- 服务站还书 -->
        <activity android:name="com.xiawa.read.activity.ReturnBookActivity" >
        </activity>

        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <!-- alipay sdk end -->

    </application>

</manifest>